﻿/* Confirm boxes popup when an action can result in an unrecoverable action */

.confirmation {
    background-color: rgba(255,255,255,0.02); /* Enough opaqueness to be a hit target */
}

/* All confirm boxes have a specific look */
.confirmation > div {
    position: absolute;
    border: 3px solid #FBD081;
    border-radius: 6px;
    background-color: #F9F3AA;
    font-size: 12pt;
    color: #833100;
    width: 300px;
    opacity: 0;
    margin-bottom: -50px;
    transition: opacity 0.25s linear, margin-bottom 0.25s ease-out;
    padding: 20px;
    box-shadow: 0 6px 10px #833100;
    display: -ms-flexbox;
    -ms-flex-direction: column;
}
.confirmation[aria-hidden=false] > div {
    opacity: 1;
    margin-bottom: 0;
}

/* Specific location */
#confirmRestart {
    left: 0;
    bottom: 120px;
}
#confirmNew {
    left: 100px;
    bottom: 120px;
}

.confirmation > div > * {
    /* make these all flexbox items */
    display: block; 
}

/* the button */
.confirmation input {
    padding: 5px;
    border: 4px solid transparent;
    text-align: center;
    font-size: 16pt;
    box-shadow: 0 6px 10px #833100;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 0;
    padding: 5px;
    opacity: 0;
    /* Delay these until the prior transition completes */
    transition: margin-left 0.25s ease-out 0.2s, opacity 0.25s linear 0.2s;
    color: white;
    max-width: 240px; /* Ensure the text wraps if it gets too large (with 50px margin) */
}
/* When the parent notification is shown...*/
.confirmation[aria-hidden=false] input {
    margin-left: 50px;
    opacity: 1;
}
.green .confirmation input {
    background-color: rgb(104,190,25);
}
.red .confirmation input {
    background-color: rgb(210,15,15);
}
.orange .confirmation input {
    background-color: rgb(249,80,0);
}
.confirmation input:hover, .confirmation input:active {
    border-color: white;
}
.confirmation input:active {
    transform: scale(0.94);
}
