﻿/* This panel is only in two basic states [data-finished] or not... */

#finished2[hidden] { display: none; }

#finished2[data-finished]:not([hidden]) { animation: slideIn 0.75s ease-out; } /* 750ms intro delay */
#finished2:not([hidden]) { animation: pausedAppear 0.5s ease-out; }

#finished2[data-exit]:not([hidden]) { animation: slideOut 1s forwards; }
#finished2[data-exit2]:not([hidden]) { animation: pausedDisappear 0.5s forwards; }

@keyframes slideIn { /* <<<---- */
    from {
        visibility: hidden;
        opacity: 0.5;
        transform: translateX(100%);
    }
    to {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes pausedAppear {
    from {
        visibility: hidden;
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes slideOut { /* ---->>> */
    from {
        visibility: visible;
        transform: translateX(0);
    }
    to {
        visibility: hidden;
        transform: translateX(100%);
    }
}
@keyframes pausedDisappear {
    from {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
    to {
        visibility: hidden;
        opacity: 0;
        transform: scale(0.7);
    }
}
#finished2[data-finished] #headerBarPaused, 
#finished2[data-finished] #progressStats,
#finished2[data-finished] #commandRestart,
#finished2[data-finished] #commandResume,
#finished2:not([data-finished]) #headerBarSolved,
#finished2:not([data-finished]) #finishedStats,
#finished2:not([data-finished]) #commandPlayAgain,
#finished2:not([data-finished]) #commandNext {
    display: none;
}

#headerBarPaused, #headerBarSolved {
    position: absolute;
    font-family: "CroMagnum";
    text-align: center;
    background-color: lightblue;
}
#headerBarPaused span {
    animation: showNoticeSlideAcross 3s ease 500ms infinite backwards;
}
#headerBarSolved span {
    animation: initalShowGameTile 1s ease 500ms backwards;
}

#mouseWaiting {
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
}

#lineLayout { 
    text-align: center; 
    height: 100%;
    background-color: gray;
}

#timeAndCheese #cheeseSection { 
    padding: 10px;
    height: 40%;
    text-align: center; 
}
#timeAndCheese #cheeseSection span { 
    width: 31%;  
    height: 100%; 
    animation: initalShowGameTile 1s;
    animation-fill-mode: backwards;
}
#timeAndCheese #cheeseSection span:nth-child(1) { animation-delay: 1.75s; }
#timeAndCheese #cheeseSection span:nth-child(2) { animation-delay: 2s; }
#timeAndCheese #cheeseSection span:nth-child(3) { animation-delay: 2.25s; }

#timeStats {
    font-size: 150pt;
    text-align: center;
    margin-top: 5%;
}

#progressStats {
    margin-top: 10%;
    font-size: 150pt;
    text-align: center;
}

#finished2[data-finished] #timeStats, #progressStats {
    animation: showNoticeSlideAcross 5s ease 750ms;
    animation-iteration-count: infinite;
}

#timeStats span:last-child, #progressStats span:last-child {
    font-size: 40pt;
    display: block;
    margin-top: -20px;
}

#levelStats {
    padding-top: 20px;
    font-size: 32pt;
}

#finishedStats > div { 
    padding: 10px;
    font-size: 35pt;
}
#finishedStats > div > span:last-child {
    font-size: 62pt;
}


#gameCommandsTiles { text-align: center; }

#gameCommandsTiles > div { 
    width: 31%; 
    position: relative; 
    animation: initalShowGameTile 0.5s;
    animation-fill-mode: both;
}

#gameCommandsTiles > #commandMenu { animation-delay: 850ms; }
#gameCommandsTiles > #commandPlayAgain, 
#gameCommandsTiles > #commandRestart { animation-delay: 1050ms; }
#gameCommandsTiles > #commandResume, 
#gameCommandsTiles > #commandNext { animation-delay: 1250ms; }

#gameCommandsTiles > div > * { /* .frontface .backface label */
    width: 100%;
    height: 82px;
    position: absolute;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 2s;
} /* BUG issue with the animation not starting if I mess with the above rule. */

#gameCommandsTiles .frontface { text-align: left; font-size: 25pt; animation-name: autoFlipFrontFace; }
#gameCommandsTiles .backface { text-align: left; font-size: 18pt; animation-name: autoFlipBackFace; }

#gameCommandsTiles #commandMenu > div { animation-duration: 6s; animation-delay: 0.2s; }
#gameCommandsTiles #commandPlayAgain > div,
#gameCommandsTiles #commandRestart > div { animation-duration: 5s; animation-delay: 2s; }
#gameCommandsTiles #commandResume > div,
#gameCommandsTiles #commandNext > div { animation-duration: 4s; animation-delay: 3s; }


#gameCommandsTiles > div > div > span {
    display: inline-block;
    vertical-align: middle;
}

#gameCommandsTiles > div > div > span:not(.commandIcon) {
    white-space: normal;
    width: calc(100% - 90px);
}

#gameCommandsTiles .commandIcon {
    font-family: "Segoe UI Symbol";
    font-size: 45pt;
}

#gameCommandsTiles label > * { visibility: hidden; }

@keyframes autoFlipFrontFace {
    from { transform: perspective(200px) rotateX(0deg); }
    45% { transform: perspective(200px) rotateX(0deg); }
    55% { transform: perspective(200px) rotateX(180deg); }
    to { transform: perspective(200px) rotateX(180deg); }
}
@keyframes autoFlipBackFace {
    from { transform: perspective(200px) rotateX(180deg); }
    48% { transform: perspective(200px) rotateX(180deg); }
    52% { transform: perspective(200px) rotateX(360deg); }
    to { transform: perspective(200px) rotateX(360deg); }
}

/* Landscape View */
@media (orientation: landscape) {
    #headerBarPaused, #headerBarSolved {
        top: 0;
        left: 0;
        right: 0;
        font-size: 150pt;
        height: 250px;
    }

    #mouseWaiting {
        left: 0;
        top: 0;
        bottom: 0;
        width: 33%;
    }

    #lineLayout > * {
        display: inline-block;
        vertical-align: middle;
        width: 33%;
        height: 40%;
        margin-top: 250px;
    }

    #timeStats { font-size: 120pt; }

    #finishedStats { margin-top: 25px; }
    #finishedStats > div { 
        text-align: right;
        font-size: 25pt;
    }
    #finishedStats > div > span:last-child { font-size: 42pt; }

    #gameCommandsTiles > label { background-color: green; }
}

/* PORTRAIT View */
@media (orientation: portrait) and (min-width: 351px) {
    #headerBarPaused, #headerBarSolved {
        top: 0;
        left: 33%;
        right: 0;
        font-size: 100pt;
        height: 250px;
        line-height: 240px;
    }

    #mouseWaiting {
        top: 0;
        left: 0;
        width: 33%;
        height: 250px;
    }

    #lineLayout { height: calc(100% - 340px); } /* 250 header + 90 footer */
    #voidPanel { display: none; }
    #lineLayout > * { height: 50%; }

    #timeAndCheese { margin-top: 250px;}
    #levelStats { font-size: 50pt; }
    #progressStats { font-size: 200pt; }

    #gameCommandsTiles > label { 
        background-color: green;
    }

    #gameCommandsTiles .frontface { font-size: 20pt; }
    #gameCommandsTiles .backface { font-size: 16pt; }
}

/* SNAP View */
@media (max-width: 350px) {
    #headerBarPaused, #headerBarSolved {
        top: 100px;
        left: 0;
        right: 0;
        font-size: 78pt;
    }

    #mouseWaiting {
        top: 0;
        right: 0;
        left: 0;
        height: 100px;
    }

    #voidPanel { display: none; }

    #lineLayout > * {
        height: 30%;
    }

    #timeAndCheese { margin-top: 228px; }

    #timeStats { font-size: 60pt; }
    #timeStats span:last-child {
        font-size: 20pt;
        margin-top: -10px;
    }

    #levelStats {
        padding-top: 5px;
        font-size: 20pt;
    }

    #progressStats { font-size: 85pt; }

    #finishedStats > div { 
        font-size: 18pt; 
        padding-bottom: 0;
    }
    #finishedStats > div > span:last-child { font-size: 22pt; }

    #gameCommandsTiles .frontface, #gameCommandsTiles .backface { display: none; }

    #gameCommandsTiles > div { width: 29%; }

    #gameCommandsTiles label { display: inline-block; }

    #gameCommandsTiles label > * { visibility: visible; }
}






/* OLD FINISHED */

#finished {
    background-color: #833100; /* dark */
    opacity: 0;
    transition: opacity linear 0.5s; /* Step 1 (time= 0 - 0.5) */
    color: #F9F3AA;
    font-family: CroMagnum;
}
#finished[aria-hidden=false] {
    opacity: 1;
}

/* The Top bar
   (This appears first)  */
#finishedHeader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    margin-top: -150px;
    transition: margin-top ease-out 0.25s 0.5s; /* Step 2 (time= 0.5 - 0.75) */
    color: white;
    overflow: hidden; /* cut-off the bottom of the "solved" text for style */
}
#finished[aria-hidden=false] #finishedHeader {
    margin-top: 0; /* Start the transition when the panel is activated. */
}
.green #finishedHeader {
    background-color: rgb(104,190,25);
}
.red #finishedHeader {
    background-color: rgb(210,15,15);
}
.orange #finishedHeader {
    background-color: rgb(249,80,0);
}

#finishedMazeHeader {
    font-size: 20pt;
    text-align: center;    
}

#finishedMazeHeaderSolved {
    font-size: 140pt;
    text-align: center;
    margin-top: -50px;
}


/* Next, report the time, and indicate whether this is a best time or not */
#finishedTime {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    font-size: 45pt;
    text-align: center;
    margin-top: -300px;
    transition: margin-top ease-out 0.25s 1s; /* @ 1sec. */
}
#finished[aria-hidden=false] #finishedTime {
    margin-top: 0;
}

/* This is for the "new best XX" announcements */
#finishedNewBestTime {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    font-size: 50pt;
    text-align: center;
    visibility: hidden;
    animation-delay: 1.25s;        /* @ 1.25s */
}
div.announce {
    visibility: visible !important;
    text-shadow: 0 0 20px #833100;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
#finished[aria-hidden=false] .announce {
    animation-name: jump-out;
}
.green div.announce {
    color: rgb(104,190,25);
}
.red div.announce {
    color: rgb(210,15,15);
}
.orange div.announce {
    color: rgb(249,80,0);
}

@keyframes jump-out {
    from {
        transform: scale(1);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        transform: scale(1.3);
        opacity: 1;
    }
    to {
        transform: scale(1.1);
        opacity: 0;
    }
}

/* Holder of the awards medals */

#finishedAwardsPane {
    position: absolute;
    left: 0;
    top: 280px;
    bottom: 0;
    width: 40%;
    margin-left: -41%;
    transition: margin-left ease-out 0.5s 1.25s;  /* @ 1.25s (same time as best time trigger) */
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-pack: start;
    -ms-flex-align: end;
    background-color: #F9F3AA; /* lightest brown */
    color: #FBD081; /* medium brown */
}
#finished[aria-hidden=false] #finishedAwardsPane {
    margin-left: 0;
}

#finishedAwards {
    margin-right: 2em;
    color: #833100; /* darkest brown */
}
.scoreLabelSize {
    font-size: 24pt;
}

#finishedAwardRecognition {
    position: relative;
    width: 300px;
    height: 300px;
    /*border: 2px dotted red; /* Debugging */
}
.achievementPlaceholder {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #FBD081; /* medium brown */
}
.pos1 {
    top: 40px;
    right: 20px;
}
.pos2 {
    top: 150px;
    right: 20px;
}
.pos3 {
    top: 95px;
    right: 120px;
}
#achievementPlaceholder1 {
    background-image: url(/images/achievements/achievement_time_inactive.png);
}
#achievementPlaceholder2 {
    background-image: url(/images/achievements/achievement_items_inactive.png);
}
#achievementPlaceholder3 {
    background-image: url(/images/achievements/achievement_direct_inactive.png);
}
#finished div.on {
    transition: transform ease-in 0.25s, opacity linear 0.1s;
    transform: scale(2) rotate(45deg);
    opacity: 0;
    transform-origin:center center;
}
#finished[aria-hidden=false] div.on {
    transform: scale(1) rotate(0);
    opacity: 1;
}
div#achievementEarned1.on {
    background-image: url(/images/achievements/achievement_time_active.png);
    transition-delay: 1.75s;     /* @1.75s */
}
div#achievementEarned2.on {
    background-image: url(/images/achievements/achievement_items_active.png);
    transition-delay: 2s;         /* @2s */
}
div#achievementEarned3.on {
    background-image: url(/images/achievements/achievement_direct_active.png);
    transition-delay: 2.25s;     /* @2.25s */
}
#finishedAwardRecognition > span {
    position: absolute;
    font-size: 16pt;
    white-space: nowrap;
}
#achievementPlaceholder1label {
    right: 10px;
    top: 10px;
}
#achievementPlaceholder2label {
    right: 10px;
    top: 255px;
}
#achievementPlaceholder3label {
    right: 135px;
    top: 200px;
}
#achievementPlaceholder1label.on, #achievementPlaceholder2label.on,
#achievementPlaceholder3label.on {
    color: #833100; /* Dark brown */
}

/* Sets the dimensions for displaying the scores info
    on the screen */
#finishedScores {
    position: absolute;
    width: 60%;
    right: 0;
    top: 280px;
    bottom: 0;
    text-align: left;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-pack: start;
    -ms-flex-align: start;
}

#finishedScoresLabel {
    margin-left: 2em;
    opacity: 0;
    transition: margin-left ease-out 0.25s 2.5s, opacity linear 0.1s 2.5s; /* @2.5s */
}
#finished[aria-hidden=false] #finishedScoresLabel {
    margin-left: 4em;
    opacity: 1;
}

/* These styles for for showing the pieces of the info screen */

#finishedClass {
    opacity: 0;
    transition: opacity linear 0.25s 2.75s; /* @ 2.75s */
}
#finished[aria-hidden=false] #finishedClass {
    opacity: 1;
}

#finishedComplete {
    opacity: 0;
    transition: opacity linear 0.25s 2.9s; /* @ 2.9s */
}
#finished[aria-hidden=false] #finishedComplete {
    opacity: 1;
}

#finishedBonus {
    opacity: 0;
    transition: opacity linear 0.25s 3.05s; /* @ 3.05s */
}
#finished[aria-hidden=false] #finishedBonus {
    opacity: 1;
}

#finishedAwardBonus {
    opacity: 0;
    transition: opacity linear 0.25s 3.2s; /* @ 3.2s */
}
#finished[aria-hidden=false] #finishedAwardBonus {
    opacity: 1;
}

#finishedTotal {
    font-size: 40pt;
    opacity: 0;
    margin-left: 100px;
    transition: opacity linear 0.5s 3.35s, transform ease-in-out 3s 3.35s; /* @ 3.35s */
}
#finished[aria-hidden=false] #finishedTotal {
    opacity: 1;
    transform: scale(1.3);
}

.scoreSizes {
    font-size: 30pt;
    margin-left: 1em;
}

#finishedNewBestScore {
    font-size: 50pt;
    visibility: hidden;
    margin-left: 100px;
    animation-delay: 5s;        /* @ 5s (late announce) */
} /* See the other "best time" styles for the animation effects */

/* The command bar (override) styles */

#finished > .commandBar {
    transition-delay: 3.75s;       /* @ 3.75s */
    outline: 2px solid #F9F3AA;
}

#finishedCommandBar { /* Override .commandbar */
    -ms-flex-pack: end;
}

#finishedPlayAgainButton {
    background-image: url(/images/actions/play.png);
}
#finishedNewMazeButton {
    background-image: url(/images/actions/new.png);
}