﻿/*****************************************************/
/* Gameplay panel */

/* Flip the game screen into view */
#game {
    transform: rotateX(-15deg) rotateY(180deg) scale(0.3);
    perspective: 1800;
    transition: transform linear 1s, opacity linear 0.2s 0.8s;
    background-color: #F9F3AA;
    -ms-touch-action: none; /* no touch action while in the game screen */
    opacity: 0;
}
#game:not([hidden]) {
    transform: rotateX(0) rotateY(0) scale(1);
    transition: transform ease-out 1s 0, opacity linear 0.2s 0;
    opacity: 1;
}


/* ***********************************************  */
/* New Styles */

  #floorHolder { position: absolute; top: 0; left: -100%; width: 200%; height: 100%; overflow: hidden; }
  .zoomOut, .zoomIn { height: 200%; overflow: auto; }
  .zoomOut.nthFloor { animation: animate-zoom-out-nth-floor 0.6s; animation-fill-mode: forwards; }
  .zoomOut.istFloor { animation: animate-zoom-out-1st-floor 0.6s; animation-fill-mode: forwards; }
  .zoomIn.nthFloor { animation: animate-zoom-in-nth-floor 0.6s; animation-fill-mode: forwards; }
  .zoomIn.istFloor { animation: animate-zoom-in-1st-floor 0.6s; animation-fill-mode: forwards; }
  
  @keyframes animate-zoom-out-nth-floor { /* No prereq */
	0% { top: 0; left: -100%; height: 200%; transform: scale(1); transform-origin: 0 0; }
	100% { top: 0; left: 0; height: 200%; transform: scale(0.5); transform-origin: 0 0; }
  }
  @keyframes animate-zoom-out-1st-floor { /* Prereq: scrolling floor 1 to the bottom of the 200% height container */
	0% { top: -100%; left: -100%; height: 200%; transform: scale(1); transform-origin: 0 0; }
	100% { top: 0; left: 0; height: 200%; transform: scale(0.5); transform-origin: 0 0; }
  }
  @keyframes animate-zoom-in-nth-floor { /* Postfix: set to 100% height */
	0% { top: 0; left: 0; height: 200%; transform: scale(0.5); transform-origin: 0 0; }
    100% { top: 0; left: -100%; height: 200%; transform: scale(1); transform-origin: 0 0; }
  }
  @keyframes animate-zoom-in-1st-floor { /* Postfix: set to 100% height and scroll floor 1 to the bottom */
	0% { top: 0; left: 0; height: 200%; transform: scale(0.5); transform-origin: 0 0; }
    100% { top: -100%; left: -100%; height: 200%; transform: scale(1); transform-origin: 0 0; }
  }
    
  
  .floor { height: 100%; box-sizing: border-box; white-space: nowrap; }
  .floor > div { display: inline-block; vertical-align: top; width: 50%; }
  .zoomOut .floor, .zoomIn .floor { height: 50%; } /* Keep the floors relatively the same size (with a 200% height).. */
  
  .left-side { height: 100%; position: relative; }
  .left-side > * { position: absolute; right: 0; top: calc(50% - 200px); font-size: 350pt; }
  .left-side .floorName { font-size: 120pt; margin-right: 140px; top: calc(50% - 100px); }
  .right-side { height: calc(100% - 10px); /* account for peekbar */ box-sizing: border-box; overflow: auto; text-align: center;
                -ms-content-zooming: zoom; -ms-content-zoom-limit: 10% 250%;
				transition: transform 0.4s; transform-origin: 50% 50%; transform: scale(1); }
  .movefloor .right-side { transform: scale(0.8); }
  
  .right-side .mazeReference { position: relative; } /* width/height assigned at maze creation time */
  .right-side > * { vertical-align: middle; display: inline-block; }
  .right-side .verticalCenterer { width: 0; height: 100%; }
  .right-side .mazeReference > * { position: absolute; }

  .activeSpot { transition: left ease 0.5s, top ease 0.5s; -ms-touch-action: none; background-color: rgba(0,255,0,.2); visibility: hidden; }
/* *********************************************8  */


/* The floor holder is generally manipulated by script, 
   so this is just the basics to get started... */
/*#floorHolder {
    position: absolute;
    /*width, height set on the inline style by the individual maze */
/*    border: 4px solid #FBD081;
    border-radius: 6px;
    transform-origin: 0% 0%;
    /*transform will also be set on the inline style by the JS */
/*    transition: transform ease-in-out 0.25s; /* this causes major slowdowns when used in combination with gesturechange manipulations (of the transform) */
    /*transition-duration will override the previous 1s value on the element's inline style */
/*}
  */

#titleBar {
    position: absolute;
    background-color: #833100;
    color: #FBD081;
    font-family: CroMagnum;
    top: -75px;
    transition: top 0.25s ease-out;
    left: 0;
    right: 0;
    height: 70px;
    /* Be sure to clip the bottom of the timer counter text */
    overflow: hidden;
    white-space: nowrap;
}

[data-appbar] #titleBar { top: 0; }

#titleBar > * {
    display: inline-block;
    vertical-align: middle;
}
/* the game logo */
#titleBar img {
    width: 150px;
    padding-right: 10px;
}
/* Maze number */
#titleBarGameNum {
    font-size: 28pt;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
}
/* Maze Title */
#titleBarGameTitle {
    font-size: 24pt;
    white-space: normal;
}
/* The Time remaing block */
#titleBarFastestTime {
    float: right;
    padding-top: 5px;
    text-align: right;
    font-family: "Mynd";
}

#helpBar {
    position: absolute;
    width: 100%;
    height: 300px;
    top: -300px;
    transition: top ease 250ms;
    background-color: rgba(104, 190, 25, 0.40);
}
/* "data-help" is added dynamically */
[data-help] #helpBar {
    top: 0;
}
[data-appbar][data-help] #helpBar {
    top: 75px;
}

#peekbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-color: red;
    text-align: center;
    font-family: "Segoe UI Symbol";
    font-size: 18pt;
    line-height: 6px;
}

#game[data-post-fastest] #titleBarFastestTime {
    visibility: hidden;
}

#game[data-post-fastest] #gameTimeToGo, 
#game[data-notice] #gameTimeToGo,
#game:not([data-post-fastest]) #gameTime, 
#game[data-notice] #gameTime, 
#game:not([data-notice]) #notice {
    display: none;
}

#gameTime, #gameTimeToGo, #notice {
    float: left;
    padding-top: 10px;
    font-size: 35pt;
    text-align: left;
}

#notice { 
    padding-top: 20px; 
    animation: showNoticeSlideAcross 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
} /* override previous */

#notice > * { vertical-align: middle; }

#timeLabelElapsed, #timeLabelToGo { font-size: 10pt; }

#timeLabelNotice { font-size: 14pt; }

#statsBarBestTime { font-size: 35pt; }

@keyframes showNoticeSlideAcross {
    from {
        visibility: hidden;
        transform: translateX(-25px);
        opacity: 0;
    }
    10% {
        visibility: visible;
        transform: translateX(0);
        animation-timing-function: linear;
        opacity: 1;
    }
    75% {
        opacity: 1;
        visibility: visible;
        transform: translateX(20px);
    }
    to {
        opacity: 0;
        transform: translateX(45px);
        visibility: hidden;
    }
}

/* The header and footer bars in snap mode */
@media (max-width: 350px) {
    #gotoLocate, #gotoZoom, #titleBar > img, #titleBarFastestTime { display: none; } /* Remove these controls for space */

    #titleBarGameNum, #titleBarFastestTime { margin: 5px; }

    #titleBarGameTitle { font-size: 20pt; }

    #timeValue, #timeLabelNotice {  display: block; }

    #timeLabelNotice { font-size: 10pt; width: 120px; }

    #notice { 
        text-align: center; 
        padding-top: 10px; /* override the override */
    }
}


/* The referenceBounds is for calculating when the maze is pan-able based
   on how much of the maze is currently viewable and/or fits into the 
   viewport. The referenceBounds is essentially the viewport. */
/*@media screen and (max-width: 350px) {
    /* Snapped viewing of the game... no padding, max viewing */
    /* Recommend layout at 320px width */
/*    @-ms-viewport { width: 320px; }
    #referenceBounds {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /*border: 1px solid red;*/ /* DEBUG */
/*    }
    /* When semantic zoom is applied referenceBounds becomes the 
       template for the full-scale view */
/*    [data-viewmode=semanticZoomed] #referenceBounds {
        position: absolute;
        top: 200px;
        left: 50px;
        right: 50px;
        bottom: 200px;
        /*border: 1px solid red;*/ /* DEBUG */
    /*}*/
/*    #inputGlass {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(to right, #FBD081 20px, transparent 30px),
                          linear-gradient(to bottom, #FBD081 50px, transparent 100px),
                          linear-gradient(to left, #FBD081 20px, transparent 30px),
                          linear-gradient(to top, #FBD081 50px, transparent 100px);
        /* Can't transition background image */
 /*}*/   
/*    [data-viewmode=semanticZoomed] #inputGlass {
        background-image: linear-gradient(to right, #FBD081 40px, transparent 50px),
                          linear-gradient(to bottom, #FBD081 150px, transparent 200px),
                          linear-gradient(to left, #FBD081 40px, transparent 50px),
                          linear-gradient(to top, #FBD081 150px, transparent 200px);
    }
    /* when snapped, the floor switcher is at the bottom */
/*    #floorSelector {
        position: absolute;
        height: 200px;
        left: 0;
        bottom: 0;
        right: 0;
        margin-bottom: -200px;
        transition: margin-bottom ease-out 0.5s;
    }
    [data-viewmode=semanticZoomed] #floorSelector {
        margin-bottom: 0; /* causes a transition */
/*    }
}
@media screen and (min-width: 351px) {
    /* Normal viewing of the game... 100px box */
/*    #referenceBounds {
        position: absolute;
        top: 100px;
        left: 100px;
        right: 100px;
        bottom: 100px;
        /*border: 1px solid red;*/ /* DEBUG */
/*    }
    [data-viewmode=semanticZoomed] #referenceBounds {
        position: absolute;
        top: 150px;
        left: 200px;
        right: 150px;
        bottom: 150px;
        /*border: 1px solid red;*/ /* DEBUG */
/*    }
    /* normal viewing glass backgrounds.. */
/*    #inputGlass {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(to right, #FBD081 50px, transparent 100px),
                          linear-gradient(to bottom, #FBD081 50px, transparent 100px),
                          linear-gradient(to left, #FBD081 50px, transparent 100px),
                          linear-gradient(to top, #FBD081 50px, transparent 100px);
    }
    [data-viewmode=semanticZoomed] #inputGlass {
        background-image: linear-gradient(to right, #FBD081 150px, transparent 200px),
                          linear-gradient(to bottom, #FBD081 100px, transparent 150px),
                          linear-gradient(to left, #FBD081 100px, transparent 150px),
                          linear-gradient(to top, #FBD081 100px, transparent 150px);
    }
    /* Standard properties for the floor switcher */
/*    #floorSelector {
        position: absolute;
        display: -ms-flexbox;
        width: 300px;
        top: 0;
        bottom: 0;
        left: 0;
        margin-left: -305px;
        transition: margin-left ease-out 0.5s;
        /*background-color: white;  DEBUG */
/*        -ms-flex-align: start;
        -ms-flex-direction: column;
        -ms-flex-pack: center; 
        font-family: CroMagnum;
        color: #833100;
        padding-left: 10px;
    }
    [data-viewmode=semanticZoomed] #floorSelector {
        margin-left: 0; /* causes a transition */
/*    }

    #floorSelectorTitle {
        font-size: 24pt; /* For the selector title and floor numbers */
/*    }

    #floorSelectorCenterBox {
        font-size: 36pt; /* For the selector title and floor numbers */
/*        display: -ms-flexbox;
        -ms-flex-direction: row;
        /* background-color: gray;  DEBUG */
        /* This box is dynamically sized based on expected number of floors see below*/
/*    }
    .small #floorSelectorCenterBox { height: 150px; }
    .med #floorSelectorCenterBox { height: 300px; }
    .large #floorSelectorCenterBox { height: 600px; }

    #floorNumbers, #floorExtras {
        height: 100%;
        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-flex-align: end;
        -ms-flex-pack: justify;
        margin: 0;
        /* background-color: red; /* DEBUG */
/*    }
    #floorExtras {
        -ms-flex-align: start;
    }

    /* Generated boxes for floor numbers */
/*    #floorNumbers div, #floorExtras div {
        /* background-color: green; /* DEBUG */
/*    }
}

#compass {
    position: absolute;
    height: 150px;
    left: 0;
    top: 0;
    right: 0;
    margin-top: 0;
    transition: margin-top ease-out 0.5s;
}
/* The compass shows by default until semantic zoomed or other
   custom need. */
/*[data-viewmode=semanticZoomed] #compass, #compass.hide {
    margin-top: -150px;
}

/* Position of the timeupdate box */
/*#timeUpdate {
    display: block;
    right: 15%;
    height: 70px; /* Same as the app-bar spot... */
/*    top: -70px;
    width: 75%;
    text-align: right;
    font-size: 70pt;
    margin-top: -32px; /* The bottom part of this text will be clipped (by design) */
/*    transition: top ease-out 0.5s;
}
/* The timeUpdate is triggered for a short period of time... */
/*#timeUpdate.show {
    top: 0;
}

/* The zoom button */
#zoomButton {
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all ease-out 0.5s;
}
/* Hide it when semantic zoomed */
[data-viewmode=semanticZoomed] #zoomButton {
    right: -105px;
    bottom: -105px;
}