﻿/* Color References: */
/*
   light: #F9F3AA (rgb(249,243,170))
   med:   #FBD081 (rgb(251,208,129))
   dark:  #833100 (rgb(131,49,0))
 */

[hidden] {
    visibility: hidden;
}

body {
    cursor: default;
}

/* General */

button {
    cursor: default; /* force this on all buttons */
}

.levelDescription .levelTileInfo {
    display: none;
}
.levelDescription[data-partialsolved] .levelTileInfo {
    display: block;
}

/* Hide the radio-button interior control */
.levelTileAction::-ms-check {
    visibility: hidden;
}

/* No hover effect in SNAP View due to overlay size changes...
.levelTileAction:hover {
    box-shadow: red 0 0 10px;
}
*/

/* Hide the level-navigation controls (revealed if in snap mode) */
.levelTileDimensions .levelNav {
    display: inline-block;
    visibility: hidden;
    font-family: 'Segoe UI Symbol';
    width: 40px;
    vertical-align: middle;
    height: 57px;
    border: none;
    padding: 0;
    background-color: transparent;
}

.lockedLevel {
   display: block;
   background-color: blue;
   height: 50px;
   left: -15px;
   position: absolute;
   top: -15px;
   width: 50px;
   border: none;
   visibility: hidden;
   z-index: 2;
}
#levelSelectPanel2:not([hidden]) .levelTileDimensions[data-locked] .lockedLevel {
    visibility: visible;
}

.levelTileTitle {
    font-size: 20pt;
    margin: 6px 0 0 0;
    text-align: center;
}

.levelTileInfo {
    font-size: 10pt;
    margin: 5px 0;
    text-align: center;
}

.gameTile {
    position: relative;
    height: 90px;
    width: 300px;
    margin: 10px;
    animation: initalShowGameTile 0.5s ease 1;
}

.frontface {
    background-color: green;
    transform: perspective(200px) rotateX(0deg);
}

.backface {
    background-color: red;
    transform: perspective(200px) rotateX(180deg);
}

.frontface, .backface {
    width: 300px;
    height: 90px;
    position: absolute;
    backface-visibility: hidden;
    transition: transform ease 0.5s;
}

.gameTile[data-flip] .backface {
    transform: perspective(200px) rotateX(360deg);
}

.gameTile[data-flip] .frontface {
    transform: perspective(200px) rotateX(180deg);
}

.gameTile p, .gameTile label {
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

.gameActionLook {
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    font-size: 27pt;
    height: 55px;
    margin-bottom: 5px;
    padding-top: 10px;
    text-align: center;
    width: 55px;
}

.gameTileInfo {
    display: block;
    text-align: center;
}

.cheese, .nocheese {
    background-color: white;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 2px;
}

.gameTileTitle {
    display: block;
    width: 215px;
}

.gameFrontFaceAction {
   background-color: transparent;
   border: none;
   height: 90px;
   left: 0px;
   position: absolute;
   width: 300px;
   padding: 0;
}

.backface .play, .backface .print {
    font-family: 'Segoe UI Symbol';
    padding-top: 0px;
}

.backface .play {
    padding-left: 5px;
}

.printOption {
    float: right;
}

#tileLayout, #levelDescriptions {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-scroll-translation: vertical-to-horizontal;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 92px;
    background-color: red;
    transition: bottom ease-out 250ms;
    white-space: nowrap; /* Don't ever let these line boxes wrap */
}
#game:not([data-appbar]) footer {
    bottom: -94px;
}
#game footer {
    text-align: right; /* Right-align for the game appbar, left-align otherwise */
}

footer > * {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 5px;
    white-space: normal;
    font-size: 14pt;
}
footer > label {
    width: 120px; /* Set a formal width to all for natural text wrapping */
}
footer > label:active { animation: bounceResponse 0.5s; }

#gotoStore {
    display: none;
}

#aboutString {
    display: none;
}

footer button {
    font-family: 'Segoe UI Symbol';
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: transparent;
    display: block;
    margin: 0 auto 5px;
    box-sizing: border-box;
    font-size: 23pt;
    padding: 0;
}
footer label:hover {
    outline: 2px solid black;
}

#selectedTileStats {
    visibility: hidden;
    padding-top: 10px;
    float: right;
    font-size: 14pt;
}

#selectedTileStats > div {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-right: 20px;
}

#selectedTileStats > div > span:first-of-type {
    font-size: 35pt;
}

@keyframes initalShowGameTile {
    from {
        transform-origin: center center;
        transform: perspective(300px) translateX(150px) translateZ(100px) rotateY(35deg) ;
        opacity: 0;
    }
    to {
        transform: perspective(300px) translateX(0) translateZ(0) rotateY(0);
        opacity: 1;
    }
}

@keyframes showStatsInFooter {
    from {
        visibility: hidden;
        transform: translateX(25px);
        opacity: 0;
    }
    5% {
        visibility: visible;
        transform: translateX(0);
        opacity: 1;
    }
    33% {
        visibility: hidden;
    }
    to {
        visibility: hidden;
    }
}

@keyframes showStatsInFooterLandscape {
    from {
        visibility: hidden;
        transform: translateX(25px);
        opacity: 0;
    }
    10% {
        visibility: visible;
        transform: translateX(0);
        animation-timing-function: linear;
        opacity: 1;
    }
    90% {
        opacity: 1;
        visibility: visible;
        transform: translateX(-25px);
    }
    to {
        opacity: 0;
        transform: translateX(-50px);
        visibility: hidden;
    }
}

@keyframes bounceResponse {
    from { transform: scale(1); }
    40% { transform: scale(0.8); }
    80% { transform: scale(1.1); }
    to { transform: scale(1); }
}

/* SNAP View */
@media (max-width: 350px) {

    #logoMazeTitle {
        background-color: red;
        color: transparent;
        height: 100px;
        margin: 10px auto 0;
        width: 250px;
    }

    #labelChooseLevel, #labelFindCheese {
        text-align: center;
        margin: 1em 0 0; /* top: 1em; left/right: 0, bottom: 0 */
    }

    #levelDescriptions {
        position: relative;
        height: 60px;
    }

    .levelTileDimensions {
        background-color: yellow;
        margin: 10px 35px 0;
        position: absolute;
        width: 250px;
        visibility: hidden;
        opacity: 0;
        transform: translateX(25px);
    }

    .levelTileDimensions[data-selected] {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
        transition: opacity linear 250ms,
                    transform ease 250ms;
    }

    .levelTileDimensions[data-selected] .levelNav.selectNextLevel,
    .levelTileDimensions[data-selected] .levelNav.selectPrevLevel {
        visibility: visible;
    }

    .levelDescription {
        display: inline-block;
        vertical-align: middle;
        width: 160px;
        position: relative;
    }

    /* When snapped the levels overlap, so can't have them always showing all the time. */
    .levelTileDimensions[data-selected][data-locked] .lockedLevel {
        visibility: visible;
    }

    .levelTileAction { /* radio button overlay */
        box-sizing: border-box;
        display: block;
        height: 60px;
        padding: 0;
        margin: 0 40px;
        position: absolute;
        top: 0px;
        width: 170px;
    }

    #tileLayout {
        height: calc(100% - 358px);
        overflow: auto;
    }

    footer > * {
        font-size: 12pt;
    }
    footer > label {
        width: 80px;
    }

    #selectedTileStats {
        position: relative;
        width: 200px; /* Forced width since children are APEs */
    }

    #selectedTileStats > div {
        visibility: hidden;
        position: absolute;
        right: 0;
        animation-direction: normal;
        animation-duration: 4.5s;
        animation-iteration-count:infinite;
        animation-timing-function:ease;
    }
    #levelSelectPanel2:not([hidden]) #selectedTileStats[data-show] #selectedFastest {
        animation-delay: 0s;
        animation-name: showStatsInFooter;
    }
    #levelSelectPanel2:not([hidden]) #selectedTileStats[data-show] #selectedAverage {
        animation-delay: 1.5s;
        animation-name: showStatsInFooter;
    }
    #levelSelectPanel2:not([hidden]) #selectedTileStats[data-show] #selectedSlowest {
        animation-delay: 3s;
        animation-name: showStatsInFooter;
    }
}

@media (orientation: portrait) and (min-width: 351px) {

    #logoMazeTitle {
        background-color: red;
        color: transparent;
        height: 150px;
        margin: 20px;
        width: 300px;
    }

    #labelChooseLevel {
        margin: 1em 20px 0;
    }

    #labelFindCheese {
        margin: 0 20px;
    }

    #levelDescriptions {
        height: 90px;
        overflow: auto;
        white-space: nowrap;
    }
    
    .levelTileDimensions {
        display: inline-block;
        background-color: yellow;
        margin: 10px;
        width: 200px;
        height: 60px;
        vertical-align: middle;
        position: relative;
    }

    .levelTileDimensions .levelNav {
        width: 1px;
    }

    .levelDescription {
        display: inline-block;
        vertical-align: middle;
        width: 190px;
        position: relative;
    }

    .levelTileAction { /* radio button overlay */
        box-sizing: border-box;
        display: block;
        height: 60px;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0px;
        width: 200px;
    }

    #tileLayout {
       display: -ms-flexbox;
       -ms-flex-flow: column wrap;
       -ms-flex-line-pack: start;
       overflow: auto;
       height: calc(100% - 422px);
    }

    #gotoStore[data-locked] {
        display: inline-block;
    }

    #selectedTileStats {
        position: relative;
        width: calc(100% - 280px);
    }
    
    #selectedTileStats > div {
        visibility: hidden;
        position: absolute;
        right: 0;
        animation-direction: normal;
        animation-duration: 4.5s;
        animation-iteration-count:infinite;
        animation-timing-function:ease;
    }
    #levelSelectPanel2:not([hidden]) #selectedTileStats[data-show] #selectedFastest {
        animation-delay: 0s;
        animation-name: showStatsInFooter;
    }
    #levelSelectPanel2:not([hidden]) #selectedTileStats[data-show] #selectedAverage {
        animation-delay: 1.5s;
        animation-name: showStatsInFooter;
    }
    #levelSelectPanel2:not([hidden]) #selectedTileStats[data-show] #selectedSlowest {
        animation-delay: 3s;
        animation-name: showStatsInFooter;
    }
}

@media (orientation: landscape) {
    #logoMazeTitle {
        background-color: red;
        color: transparent;
        height: 150px;
        margin: 20px;
        width: 300px;
    }

    #labelChooseLevel {
        position: absolute;
        top: 175px;
        left: 20px;
    }

    #labelFindCheese {
        position: absolute;
        top: 175px;
        left: 290px;
    }

    #levelDescriptions {
        position: absolute;
        left: 20px;
        top: 225px;
        height: calc(100% - 315px);
        overflow: auto;
        width: 240px;
    }
    
    .levelTileDimensions {
        background-color: yellow;
        margin: 10px;
        width: 200px;
        height: 60px;
        position: relative;
    }

    .levelTileDimensions .levelNav {
        width: 1px;
    }

    .levelDescription {
        display: inline-block;
        vertical-align: middle;
        width: 185px;
        position: relative;
    }

    .levelTileAction { /* radio button overlay */
        box-sizing: border-box;
        display: block;
        height: 60px;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0px;
        width: 200px;
    }

    #tileLayout {
        position: absolute;
        top: 225px;
        left: 250px;
        padding-left: 40px;
        display: -ms-flexbox;
        -ms-flex-flow: column wrap;
        -ms-flex-line-pack: start;
        overflow: auto;
        height: calc(100% - 315px);
        width: calc(100% - 250px);
    }

    #gotoStore[data-locked] {
        display: inline-block;
    }

    #levelSelectPanel2:not([hidden]) #selectedTileStats[data-show] {
        animation: showStatsInFooterLandscape 3s ease 0s infinite normal;
    }
}