﻿/*****************************************************/
/* Settings panel */

#settings {
    background-color: rgba(255, 255, 255, 0.0);
    transition: background-color 1s,
                visibility 1s;
}

#settings:not([hidden]) {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2; /* Since the canvas and other elements are added dynamically and have a higher stacking index */
}

#settings .flyout {
    text-align: center;
    position: absolute;
    right: -310px;
    top:  0;
    bottom: 0;
    width: 300px;
    background-color: white;
    transition: right ease 0.25s;
}
#settings:not([hidden]) .flyout {
    right: 0;
}

@keyframes settingContentsAppear {
    from { opacity: 0; transform: translateX(40px); }
    to { opacity: 1; transform: translateX(0); }
}

#resetGame:active { animation: bounceResponse 0.5s; }

#settings p:first-child { font-size: 25pt; }

#settings:not([hidden]) .flyout p:not(:first-child) {
    animation: settingContentsAppear 1s 0.1s backwards;
}

#resetGame, #languageChooser {
    border: 2px solid black;
    background-color: rgb(104,190,25);
    font-size: 14pt;
    text-align: left;
    padding-left: 40px;
    width: 250px;
    height: 60px;
}
#languageChooser::-ms-expand { 
    border: 2px solid black;
    background-color: white;
    font-size: 20pt;
    width: 50px;
}

input[type=range] { /* For the settings panel */
    width: 250px;
    height: 90px;
    /* border: 1px solid black;   /* DEBUG */
    padding: 0;
}

input[type=range]::-ms-tooltip {
    display: none; /* This is the only real customization allowed */
}
input[type=range]::-ms-thumb {
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 2px solid black;
}
input[type=range]::-ms-fill-upper, input[type=range]::-ms-fill-lower {
    height: 50%;
    margin-left: 25px; /* Percentages recalc when the slider is moved (these boxes change size) */
    margin-right: 25px;
    border: 2px solid black;
}
input[type=range]::-ms-fill-upper {
    background-color: black;
    margin-left: 0;
}
input[type=range]::-ms-fill-lower {
    background-color: white;
    margin-right: 0;
}
input[type=range]::-ms-track {
    width: auto;
    height: 80%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid black;
    color: transparent; /* hide the internal tick marks */
    background-color: rgb(104,190,25);
}
input[type=range]::-ms-ticks-before {
    height: 5px;
    width: auto;
    color: black;
    display:block;
}