
html, body {
    /*use auto-hide scrollbars*/
    background-color: #833100;
    margin: 0;
    padding: 0;
    -ms-user-select: none; /* Don't allow text selection anywhere in the app */
    -ms-content-zooming: none; /* Don't allow zooming of the app */
    font-family: "Mynd";
    overflow: hidden; /* So that panel transitions don't jump around due to scrollbar presence */
}


/* <section> elements are panels.
   Panels are "activated" by setting their display property to "". 
   Always start new panels off in the aria-hidden=true state
   Then set them to aria-hidden=false in order to dispaly them
   and trigger the transition.
   (Display none is to prevent over-scrolling from any other overly-large panels)
*/
section {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden; /* They have no overflow (because they always fill the screen) */
}

/* -> visible */
section[aria-hidden=false] {
    /*margin-left: 0;*/
    /*opacity: 1;*/
    /*transition: opacity 0.5s linear;*/
}



/* Layer manager styles (see layerManager.js)
/*********************************************************/

/* TODO: THESE ARE OBSOLETE AFTER THE GAME PLAY REFACTOR  */

.underLayer {
    /* This layer sits just underneath the main layer and
       * acts the same as the main layer, except is slightly
             * delayed -- it's the "maze" in the maze layer manager
             */
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(139, 21, 255, 0.8);
    transition: transform ease-in-out 0.75s 0.15s, opacity linear 0.25s 0.5s, transform-origin ease-in-out 0.75s 0.15s;
}

.mainLayer {
    /* This is the layer that goes first in the layer manager
     * and corresonds to the "path" in the maze layer manager
     */
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform ease-in-out 0.75s, opacity linear 0.25s 0.5s, transform-origin ease-in-out 0.75s;
}

.mainLayer[data-location=at], .underLayer[data-location=at] {
    transform-origin: 50% 0%;
    /*backface-visibility: visible;*/
    transform: perspective(1000px) rotateX(0) scale(1);
    opacity: 1;
}

.mainLayer[data-location=above], .underLayer[data-location=above] {
    transform-origin: 50% 0%;
    transform: perspective(1000px) rotateX(89deg) scale(1);
    opacity: 0;
}

.mainLayer[data-location=below], .underLayer[data-location=below] {
    transform-origin: 50% 50%;
    transform: perspective(1000px) rotate(0) scale(0.8);
    opacity: 0;
}

/* Progress meter */
progress
{
    /* TODO: make a ring */
    position: absolute;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    left: 50%;
    top: 40%;
}