﻿body { 
    -ms-touch-action: manipulation; 
    background-color: #5a421c;
}
#control {
    position: fixed;
    left: 0;
    width: 400px;
    bottom: 0;
    top: 0;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
section {
    color: White;
    font: 12pt "Segoe UI Symbol";
    margin: 5%;
}

#savebutton, #export {  width: 30%; }
#fileopen, #import { width: 40%; }

/* --------------------- */
#newType { width: 50%; }
#groupDisplay, #transportDisplay, #collectiableDisplay { 
    float: left;
    width: 30%; 
    margin: 0 5% 5% 0; 
    text-align: center;
}
#choose, #tranportSelect, #collectiblesList {
    display: block;
    width: 100%;
    height: 180px;
    margin-bottom: 5px;
}
input[type=number] { width: 40px; }
.bump { padding: 2px; width: 30px; float:right; margin: 0 5px; }

hr { clear: both; }

hr#propsSeparator { visibility: hidden; }

section:not([data-selected=grid]) #gridProps, 
section:not([data-selected=circ]) #circProps,
section[data-selected=none] #defaultProps { display: none; }

.extra { animation: slideLeft 0.25s; }
@keyframes slideLeft { from { transform: translateX(50px); } to { transform: translateX(0); } }

/* -------------------- */
#startEndContainer { text-align: center; }
#setLink1, #setLink2 { width: 28%; }
#setLink1[data-set] { background-color: purple; color: white; }
#setLink2[data-set] { background-color: blue; color: white; }
#swapLink:disabled::-ms-check { background-color: #5a421c; }
#toggleStart, #toggleEnd { width: 45%; }

table { display: inline-table; vertical-align: middle;  }
td { text-align: center; }
#middleCell { border: 1px solid white; border-radius: 50%; }
td span { font-size: 16pt; }
#toggleConnectorDelete { vertical-align: middle; margin-top: 40px; }

/* --------------------- */
#transportDisplay { width: 60%; }
#tranportSelect { margin-top: 5px; }
#toggleTransportToGroup { width: 33%; }
#knobsForTransportGroups:not([data-show=group]) #addRemoveCell,
#knobsForTransportGroups:not([data-show=joined]) #jointTransportInfo { display: none; }

#collectibleExtras:not([data-show=none]) { animation: slideLeft 0.25s; }
#collectibleExtras[data-show=none],
#collectibleExtras[data-show=some] .dyn { display: none; }

/* ---------------------- */
.hide {
    display: none;
}
select, button, input {
    font: 14pt "Segoe UI Symbol";
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

dfn {
    display: inline-block;
    border: 1px solid white;
    border-radius: 20%;
    margin-right: 3px;
    width: 1.7em;
    height: 1.7em;
    text-align: center;
    vertical-align: middle;
}

/* DRAWING AREA */
#preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 400px;
    width: calc(100% - 440px);
    background-color: #222222;
    padding: 20px;
    -ms-touch-action: none;
}
#mainCanvas {
    width: 100%;
    height: 100%;
    background-color: Black;
}

#topRuler {
    position: absolute;
    top: 0;
    left: 20px;
    height: 20px;
    right: 0;
    width: calc(100% - 40px);
}
#leftRuler {
    position: absolute;
    top: 20px;
    left: 0;
    height: calc(100% - 40px);
    width: 20px;
    bottom: 0;
}